@model IEnumerable<AcademyReview.Models.ProgramModels.ProgramListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Program Ratings</h2>

<p>
    @Html.ActionLink("Add Program", "Create", "Program")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prerequisite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            @Html.HiddenFor(modelItem => item.ProgramId)
                @*@Html.DisplayFor(modelItem => item.ProgramId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prerequisite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.ActionLink("Rate", "Rate", new { id = item.ProgramId }) |

                @Html.ActionLink("Edit", "Edit", new { id = item.ProgramId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProgramId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProgramId })
            </td>
        </tr>
    }

</table>
