@model IEnumerable<AcademyReview.Models.RatingModels.Instructor.InstructorRatingListItem>

@{
    ViewBag.Title = "Ratings";
}

<h2>@ViewBag.Name Ratings</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.RatingId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsUserOwned)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.InstructorId)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.RatingId)
            @*<td>
                    @Html.DisplayFor(modelItem => item.RatingId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            @Html.HiddenFor(modelItem => item.IsUserOwned)
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsUserOwned)
                </td>*@
            @Html.HiddenFor(modelItem => item.UserId)
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            @Html.HiddenFor(modelItem => item.InstructorId)
            @*<td>
                    @Html.DisplayFor(modelItem => item.InstructorId)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
            <td>| @Html.ActionLink("Edit", "EditRating", "Academy", new { id = item.RatingId }, null) |</td>

        </tr>
    }

</table>
| @Html.ActionLink("Back", "Index", "Instructor") |
