@model AcademyReview.Models.InstructorModels.InstructorDetail

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstructorDetail</h4>
    <hr />
    <dl class="dl-horizontal">


            @Html.HiddenFor(model => model.InstructorId)
            @Html.HiddenFor(model => model.AcademyId)
            @Html.HiddenFor(model => model.ProgramId)

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AcademyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            | @Html.ActionLink("Back", "InstructorRatings", new { id = Model.ProgramId}) |
        </div>
    }
</div>
